services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: pruebatecnica
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    environment:
      DB_URL: jdbc:postgresql://db:5432/pruebatecnica
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      SERVER_PORT: 8080
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
